/* Reset some basic elements for consistency */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* body::-webkit-scrollbar {
  display: none;
} */

body {
  font-family: "Inter", sans-serif;
  background-color: var(--darkWhite);
  overflow: hidden;
}
a {
  text-decoration: none;
}
ul li {
  list-style: none;
  font-size: 1rem;
  padding: 0.5rem 0.8rem;
  margin-left: 0.5rem;
  text-transform: capitalize;
  font-weight: 500;
}

/*root*/
:root {
  --lightWhite: #ffffff;
  --darkWhite: #f3f3f3;
  --borderWhite: 1px groove #d1d7dc;
  --lightSelected: linear-gradient(
    190deg,
    rgb(157, 255, 255) 0%,
    rgb(206, 169, 255) 100%
  );
  /* dark */
  --lightBlack: #11121e;
  --darkBlack: #1d1d29;
  --borderBlack: 1px groove #363b45;
  --darkSelected: linear-gradient(
    190deg,
    rgb(60, 214, 214) 0%,
    rgb(111, 0, 255) 100%
  );
  /* svg and text */
  --textColor: #11121e;
  --svgColor: invert(20%);
  /* common */
  --smooth-Box-Shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
  --icon-bg: #fcfdff;
  --selectBox: #dbe9ff;
  --border-r-default: 0.5rem;
}

html * {
  color: var(--textColor);
}
/*common*/
.flex {
  display: flex;
}
.f-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.txt-cap {
  text-transform: capitalize;
}
.aside-m-left {
  margin-top: 3.8rem;
  margin-left: 3rem;
}
.aside-m-left-max {
  margin-left: 14rem;
}
.iconsBg {
  background-color: var(--icon-bg);
  padding: 0.25rem;
  border-radius: 0.3rem;
  width: fit-content;
  border: var(--borderWhite);
  &:hover {
    background-color: var(--selectBox);
  }
}
.selected {
  background: var(--lightSelected);
}
/**============NavBar==============================*/
nav {
  /* border: 1px solid red; */
  padding: 0.7rem;
  background-color: var(--lightWhite);
  border-bottom: var(--borderWhite);
  justify-content: space-between;
  width: 100vw;
  position: fixed;
  top: 0;
}
.logoContainer {
  /* border: 1px solid red; */
  width: fit-content;
  gap: 1rem;
}

.logo {
  width: 7rem;
  margin-top: -0.8rem;
  position: relative;
}

.linesBar {
  width: 1.3rem;
  cursor: pointer;
  /* background-color: rebeccapurple;  */
  & img {
    filter: var(--svgColor);
  }
}
.changeTheme {
  width: 2rem;
  border-radius: 50%;
  padding: 0.3rem;
  cursor: pointer;
  & img {
    filter: var(--svgColor);
  }
  &:hover {
    background-color: var(--selectBox);
  }
}

nav .navigate li {
  border-radius: var(--border-r-default);
  cursor: pointer;

  &:hover {
    background-color: var(--selectBox);
  }
}
.profile ul li {
  border-radius: var(--border-r-default);
  cursor: pointer;
  &:hover {
    background-color: var(--selectBox);
  }
}
.profile ul li:nth-last-child(1) {
  background: linear-gradient(
    190deg,
    rgb(60, 214, 214) 0%,
    rgb(111, 0, 255) 100%
  );
  color: white;
  font-weight: 500;
  border-radius: var(--border-r-default);

  &:hover {
    transform: scale(0.9);
  }
}
.profileIcon {
  width: 2.1rem;
  border-radius: 50%;
  padding: 0.1rem;
  cursor: pointer;
  display: none;
  margin: 0 0.8rem;

  &:hover {
    background-color: var(--selectBox);
  }
}
.navToggle {
  & img {
    width: 2.1rem;
    border-radius: 50%;
    padding: 0.3rem;
    cursor: pointer;
    margin-right: 0.5rem;
    margin-top: -0.2rem;
    &:hover {
      background-color: var(--selectBox);
    }
  }
}
.navOpen,
.navClose {
  display: none;
}
#moon {
  display: none;
}
/**==========Asidebar============== */
aside {
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
  top: 3.8rem;
  /* width: 13rem; */
  width: 3rem;
  height: calc(100vh - 58.9px);
  background-color: var(--lightWhite);
  border-right: var(--borderWhite);
  position: fixed;
  padding-top: 2rem;
}

aside::-webkit-scrollbar {
  width: 0.1rem; /* Width of the scrollbar */
  color: #1d1d29;
}

aside::-webkit-scrollbar-thumb {
  background-color: #2397b3;
}

aside::-webkit-scrollbar-track {
  background: white; /* Background of the scrollbar track */
}
.asideIcons {
  width: 70%;
  height: fit-content;
  cursor: pointer;
  position: relative;

  & img {
    filter: var(--svgColor);
  }
  &:hover .asideIconName {
    display: block;
  }
}
.asideIconName {
  display: none;
  position: absolute;
  text-wrap: nowrap;
  left: 3rem;
  top: 0;
  border: var(--borderWhite);
  background-color: var(--lightWhite);
  padding: 0.5rem 0.8rem;
  border-radius: 0.5rem;
  box-shadow: var(--smooth-Box-Shadow);
  transition: 0.1s ease-in-out;
  &::before {
    content: "";
    position: absolute;
    border-bottom: var(--borderWhite);
    border-right: var(--borderWhite);
    top: 0.7rem;
    left: -0.5rem;
    width: 0.8rem;
    height: 0.8rem;
    rotate: 135deg;
    background-color: var(--lightWhite);
  }
}

/**=========Toggle Asie===============*/
.toggleAside {
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  width: 14rem;
  height: 100vh;
  background-color: var(--lightWhite);
  border-right: var(--borderWhite);
  position: fixed;
  top: 0;
  padding-top: 1rem;
  transform: translateX(-15rem);
  transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

/**==================bigaside============*/
.toggleAside .logoContainer {
  padding: 0 0.7rem;
}
.bigtoggleAside {
  transform: translateX(0);
  padding: 1.2rem 0;
}
.nameTools {
  font-size: 2rem;
  font-weight: 900;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  border-bottom: var(--borderWhite);
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 2rem;

  & img {
    width: 2rem;
  }
}

.bigAsideTools {
  cursor: pointer;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 100%;
  gap: 1rem;

  padding: 0.5rem 0.8rem;
  border-radius: 8px;
  & img {
    width: 1.4rem;
    filter: var(--svgColor);
  }

  &:hover {
    background-color: var(--selectBox);
    /* border: var(--borderWhite); */
  }
}
.toolContainer {
  width: 100%;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  gap: 1.1rem;
  /* border: 1px solid red; */
  overflow: auto;
  height: 100%;
  padding: 3rem 1rem;
}
/**===============================================================*/
.displaySection {
  transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  /* border: 1px solid red; */
  width: auto;
  display: flex;
  justify-content: center;
  overflow: auto;
  max-height: calc(100vh - 3.8rem);
}
.displaySection::-webkit-scrollbar,
.toolContainer::-webkit-scrollbar {
  width: 7px;
}

.displaySection::-webkit-scrollbar-thumb,
.toolContainer::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

.displaySection::-webkit-scrollbar-thumb:hover,
.toolContainer::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.displaySection::-webkit-scrollbar-track,
.toolContainer::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}
.container {
  width: 250px;
  height: fit-content;
}

/**==============Media============== */
@media screen and (max-width: 860px) {
  .profile {
    display: none;
  }
  .revelButton.profile {
    display: block;
    position: absolute;
    top: 4.2rem;
    right: 0.5rem;
    background-color: white;
    padding: 1rem;
    border-radius: 12px;
    border: var(--borderWhite);
    box-shadow: var(--smooth-Box-Shadow);

    &::before {
      content: "";
      width: 1.5rem;
      height: 1.5rem;
      border-left: var(--borderWhite);
      border-bottom: var(--borderWhite);
      background: #ffffff;
      top: -0.9rem;
      right: 1.2rem;
      position: absolute;
      rotate: 135deg;
    }
    .sButton {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;
    }
    & ul li {
      margin-left: 0rem;
      background-color: #e8e8ff;
      z-index: 1;
    }
  }
  .profileIcon {
    display: block;
  }

  nav .navigate {
    margin-right: -7.5rem;
  }
}
@media screen and (max-width: 915px) {
  /* .navigate {
    display: none;
    position: absolute;
    right: 0;
  } */
  nav .revelNav.navigate {
    display: block;
  }
  nav .navigate {
    display: none;
    position: absolute;
    right: 11rem;
    top: 4.2rem;
    background-color: var(--lightWhite);
    box-shadow: var(--smooth-Box-Shadow);
    border-radius: 0.5rem;
    padding: 0.5rem;
    flex-direction: column;
    border: var(--borderWhite);

    /* border: 1px solid red; */

    &::before {
      content: "";
      width: 1.5rem;
      height: 1.5rem;
      border-left: var(--borderWhite);
      border-bottom: var(--borderWhite);
      background: var(--lightWhite);
      top: -0.9rem;
      right: 3.6rem;
      position: absolute;
      rotate: 135deg;
    }
  }
  nav .navigate li {
    border-radius: var(--border-r-default);
    cursor: pointer;
    text-align: center;
    margin-left: 0;
    margin-top: 0.49rem;

    &:hover {
      background-color: var(--selectBox);
    }
  }
  .navOpen {
    display: block;
  }
}
